<div class="col-md-4 offset-md-4 mt-5">
    <h3 class="text text-dark">Give Feedback</h3>
    <form #insertCommonFeedbackForm="ngForm" (ngSubmit)="submitForm(insertCommonFeedbackForm)">
        <h6 class="text text-warning">{{error}}</h6>
        <div class="form-group">
            <label for="brandName">Brand Name:</label>
            <input type="text" name="brandName" #brandName="ngModel" ngModel required class="form-control"
                minlength="5" maxlength="50" pattern="^[A-Za-z0-9]*[A-Za-z0-9].{2,50}$">
            <div *ngIf='brandName.touched && brandName.invalid'>
                <p class="alert alert-warning" *ngIf='brandName.errors.required'>
                    This field is mandatory
                </p>
                <!-- <p class="alert alert-warning" *ngIf='productName.errors.minlength'>
                    Minimum 6 characters required
                </p> -->
                <p class="alert alert-warning" *ngIf='brandName.errors.maxlength'>
                    Maximum 50 characters only
                </p>
                <p class="alert alert-warning" *ngIf='brandName.errors.pattern'>
                    Invalid name!! Should contain atleast 2 characters required and no special characters
                </p>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="category">Product Category</label>
            <select name="category" class="form-control" #category="ngModel" required ngModel>
                <option value="Health Care">Health Care</option>
                <option value="Skin care">Skin care</option>
                <option value="Hair care">Hair Care</option>
                <option value="Ayurvedic">Ayurvedic</option>
            </select>
            <div *ngIf='category.touched && category.invalid'>
                <p class="alert alert-warning" *ngIf='category.errors.required'>
                    This field is mandatory
                </p>
            </div>
        </div> -->
        <div class="form-group">
            <label for="feedback">Feedback</label>
            <input type="text" name="feedback" class="form-control" #feedback="ngModel" ngModel pattern="^[A-Za-z0-9]*[A-Za-z0-9].{2,50}$"
                >
            <div *ngIf='feedback.touched && feedback.invalid'>
                <!-- <p class="alert alert-warning" *ngIf='feedback.errors.required'>
                    This field is mandatory
                </p> -->
            
            </div>
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" name="rating" #rating='ngModel' ngModel pattern="[1-5]{1}/?.[0-9]{1}" class="form-control"
                required>
            <div *ngIf='rating.touched && rating.invalid'>
                <p class="alert alert-warning" *ngIf='rating.errors.required'>
                    This field is mandatory
                </p>
                <p class="alert alert-warning" *ngIf='rating.errors.maxlength'>
                    Maximum 1 digit only
                </p>
                <p class="alert alert-warning" *ngIf='rating.errors.pattern'>
                    Invalid rating!! It cannot be greater than 5 and can contain only digits.
                </p>
            </div>
        </div>
        <div class="btn btn-group float-right">
            <button type="reset" class="btn btn-outlnie-dark">Reset</button>
            <button type="submit" class="btn btn-outline-primary" [disabled]='insertCommonFeedbackForm.invalid'>Submit</button>
        </div>
    </form>
</div>